@font-face {
  font-family: gil-sans;
  src: url(./GillSansC.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: gil-sans;
  src: url(./GillSansC-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "avenir-reg";
  src: url(./AvenirLTStd-Roman.otf) format("opentype");
  font-weight: 900;
  font-display: swap;
}