*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  color: currentColor;
  text-decoration: none;
  list-style: none;
}

img,
svg,
video {
  display: block;
  pointer-events: none;
}

body {
  margin: 0 auto;
  border: 1px solid tomato;
  padding: 8.25rem 10px;
  color: black;
  font-family: gil-sans, sans-serif;
  max-inline-size: 1500px;
  inline-size: 100%;
}

header {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid green;
  padding: 10px;
  inline-size: 100%;
}

button {
  margin: 0;
  border: none;
  padding: 0;
  font-family: inherit;
  background: transparent;
  cursor: pointer;
}

.header_button {
  margin: 20px auto;
  padding: 10px;
  inline-size: 21%;
  max-inline-size: 374px;
}

.header_logo {
  inline-size: 100%;
}

.navigation {
  padding: 10px;
  inline-size: 79%;
}

.navigation_list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 1rem;
  margin-block: 20px;
}

.navigation_button {
  font-size: 14pt;
  text-transform: capitalize;
}

main {
  margin-block-start: 36px;
  border: 1px solid blue;
  padding-block: 10px;
}

.recent_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-block-end: 114px;
  padding-block: 20px;
}

.recent_header_title {
  font-weight: bolder;
  font-size: 24pt;
  line-height: 2em;
  text-transform: uppercase;
}

.recent_header img {
  inline-size: 226px;
}

.recent_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recent_section:not(:last-child) {
  margin-block-end: 70px;
}

.section_button {
  display: flex;
  flex-wrap: wrap;
  margin-block: 20px;
  font-weight: bolder;
  font-size: 36pt;
  line-height: 0.9;
  text-transform: uppercase;
  inline-size: fit-content;
}

.section_button .logo {
  inline-size: 117px;
  block-size: min-content;
}

.special_logo {
  inline-size: 100%;
  max-inline-size: 640px;
}

.section_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section_list li {
  padding: 10px;
}

.section_list .cover_link {
  margin: 0 auto;
  cursor: pointer;
  inline-size: 90%;
}

.cover_link img {
  inline-size: 100%;
}

@media (prefers-color-scheme: dark), .dark-theme {
  body {
    color: white;
    background: #121212;
  }

  .header_logo {
    filter: invert(100%);
  }
}

@media (hover: hover) and (pointer: fine) {
}

@media screen and (max-width: 768px) {
  body {
    padding-block: 2.5rem 5.5rem;
  }

  .header_button,
  .navigation {
    inline-size: 100%;
  }

  .section_list {
    display: flex;
    flex-direction: column;
  }

  .cover_link img {
    object-fit: contain;
    block-size: 100%;
  }
}
