:root {
  --image-width: 70%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  color: currentColor;
  text-decoration: none;
  list-style: none;
}

img,
svg,
video {
  display: block;
  pointer-events: none;
}

body {
  margin: 0 auto;
  padding: 8.25rem 10px;
  color: black;
  font-family: gil-sans, sans-serif;
  max-inline-size: 1500px;
  inline-size: 100%;
}

.scroll-lock {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

header {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  inline-size: 100%;
}

button {
  margin: 0;
  border: none;
  padding: 0;
  color: inherit;
  font-family: inherit;
  background: transparent;
  cursor: pointer;
}

.header_button {
  margin: 20px auto;
  padding: 10px;
  inline-size: 33.3%;
  max-inline-size: 384px;
}

.button-is_active {
  cursor: default;
  inline-size: 21%;
  max-inline-size: 374px;
}

.header_logo {
  inline-size: 100%;
}

.navigation {
  padding: 10px;
  inline-size: 79%;
}

.navigation_list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 1rem;
  margin-block: 20px;
}

.navigation_button {
  font-size: 14pt;
  text-transform: capitalize;
}

main {
  margin-block-start: 36px;
  padding-block: 10px;
}

.recent_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-block-end: 114px;
  padding-block: 20px;
}

.recent_header_title {
  font-weight: bolder;
  font-size: 24pt;
  line-height: 2em;
  text-transform: uppercase;
}

.recent_header img {
  inline-size: 226px;
}

.recent_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recent_section:not(:last-child) {
  margin-block-end: 70px;
}

.section_button {
  display: flex;
  flex-wrap: wrap;
  margin-block: 20px;
  font-weight: bolder;
  font-size: 36pt;
  line-height: 0.9;
  text-transform: uppercase;
  inline-size: fit-content;
}

.section_button .logo {
  inline-size: 117px;
  block-size: min-content;
}

.special_logo {
  inline-size: 33vw;
  max-inline-size: 369px;
}

.section_list,
.section_full_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section_list li,
.section_full_list li {
  padding: 10px;
}

.section_list .cover_link {
  margin: 0 auto;
  cursor: pointer;
  inline-size: 90%;
}

.cover_link img {
  opacity: 0;
  inline-size: 100%;
}

.section_full_title {
  margin-block-end: 55px;
}

.section_full_title h2 {
  font-family: "avenir-reg", sans-serif;
  font-weight: 900;
  font-size: 55px;
  letter-spacing: -1.8px;
  text-align: center;
  text-transform: uppercase;
}

.section_full_title .section_full_logo {
  margin: 0 auto;
  inline-size: 100%;
  max-inline-size: 640px;
}

.full_list_covers {
  grid-template-columns: repeat(4, 1fr);
}

.section_full_list .cover_link {
  cursor: pointer;
}

.popup {
  position: fixed;
  inset: 0;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  background-color: white;
  pointer-events: none;
  user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.popup_is-opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.popup-content {
  position: absolute;
  top: 0;
  margin-inline: auto;
  padding: 8.25rem 10px;
  inset-inline: 0;
  inline-size: 100%;
  max-inline-size: 1500px;
}

.close {
  padding-inline-end: 10px;
  padding-block: 10px;
  cursor: pointer;
  inline-size: fit-content;
}

.close img {
  inline-size: 117px;
}

.popup_header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-block-end: 70px;
  padding: 10px;
}

.popup_header_row {
  display: flex;
  flex-direction: column;
}

.popup_header_image {
  margin: 0 auto;
  inline-size: 95%;
  max-inline-size: 640px;
}

.popup_header_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 70px;
  text-align: center;
}

.popup_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.popup_image_wrapper {
  display: flex;
  padding: 10px;
}

.odd_vertical,
.odd_horizontal {
  justify-content: end;
}

.popup_image_wrapper img {
  object-fit: contain;
  opacity: 0;
  inline-size: var(--image-width);
  block-size: auto;
}

.alone_image,
.horizontal_image:not(.odd_horizontal, .even_horizontal) {
  grid-column: 1 / 3;
  justify-content: center;
}

.alone_image img,
.horizontal_image:not(.odd_horizontal, .even_horizontal) img {
  inline-size: calc(var(--image-width) / 2);
}

@media (prefers-color-scheme: dark), .dark-theme {
  body {
    color: white;
    background: #121212;
  }

  .logo,
  .special_logo,
  .section_full_logo {
    filter: invert(100%);
  }

  .popup {
    background-color: #121212;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --image-width: 85%;
  }

  body,
  .popup-content {
    padding-block: 2.5rem 5.5rem;
  }

  .header_button,
  .navigation {
    inline-size: 100%;
  }

  .special_logo {
    inline-size: 100%;
    max-inline-size: 640px;
  }

  .section_full_title h2 {
    font-size: 53px;
  }

  .section_list,
  .section_full_list,
  .popup_main,
  .popup_header {
    display: flex;
    flex-direction: column;
  }

  .cover_link img {
    object-fit: contain;
    block-size: 100%;
  }

  .alone_image img,
  .horizontal_image:not(.odd_horizontal, .even_horizontal) img {
    inline-size: var(--image-width);
  }
}
